<div class="card flex justify-center">
  <button pButton pRipple severity="success">
      <WindowMaximizeIcon pButtonIcon />
      <span pButtonLabel>Agregar Materia</span>
  </button>
</div>
<br>
<div class="card">
  <p-table [value]="subjects" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idStudent" style="width:20%">
          Id <p-sortIcon field="idStudentSubject" />
        </th>
        <th pSortableColumn="name" style="width:20%">
          Nombre de Materia<p-sortIcon field="name" />
        </th>
        <th pSortableColumn="numberDocument" style="width:20%">
          Nombre de Profesor <p-sortIcon field="numberDocument" />
        </th>
        <th pSortableColumn="creditProgramName" style="width:20%">
          Acciones <p-sortIcon field="creditProgramName" />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-subject>
      <tr>
        <td>{{ subject.idStudentSubject }}</td>
        <td>{{ subject.subjectName }}</td>
        <td>{{ subject.teacherName }}</td>
        <td>
          <div class="card flex justify-center">
            <p-button label="Ver Comapeñeros" icon="pi pi-search" severity="secondary" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
